venv
.idea
__pycache__/
.env
.DS_Store

# Terraform
invoke-lambda-with-s3-upload/infra/.terraform/
invoke-lambda-with-s3-upload/infra/.terraform.lock.hcl
invoke-lambda-with-s3-upload/infra/terraform.tfvars


